<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="height: 86vh">
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-12">
                                <mat-tab-group color="primary" backgroundColor="primary">
                                    <mat-tab label="Property Details">
                                        <app-add-property-details></app-add-property-details>
                                    </mat-tab>
                                    <mat-tab label="Amenities"> Amenities </mat-tab>
                                    <mat-tab label="Gallery"> Gallery </mat-tab>
                                    <mat-tab label="Room Details"> Room Details </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
