<section class="content">
    <div class="container-fluid">
      <!-- Basic Examples -->
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="ngxTableHeader">
                    <ul class="header-buttons-left ml-0 mb-0">
                        <button class="mr-3" mat-raised-button
                        color="primary">Kitchen</button>
                        <button class="mr-3" mat-raised-button
                        color="primary">Living Room</button>
                        <button class="mr-3" mat-raised-button
                        color="primary">Beds</button>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Property ID</mat-label>
                    <mat-select>
                            <mat-option>1</mat-option>
                            <mat-option>2</mat-option>
                            <mat-option>3</mat-option>

                    </mat-select>
                  </mat-form-field>
              </div>
              <div>
                  <input type="file">
              </div>

              <div class="mt-3">
                <input type="file">
            </div>

            <div class="row mt-5">
                <button class="mr-3 " mat-raised-button
                color="primary">Back</button>
                
                <button class="mr-3" mat-raised-button
                color="primary">Submit</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  