
.blur-up  {
  filter: blur(0.6px);
}

.search-hotel-items {
  display: inline-block;
  width: 33%;
  padding: 10px !important;
}

.left-part > .search-body {
  padding: 10px !important;
}

.search-box {
  width: 88vw;
  border-radius: 10px;
  margin-left: 42px;
  padding-top: 10px;
}
