<header class="overlay-black">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="menu">
                    <div class="brand-logo">
                        <a>
                            <img src="../assets/images/logo.jpg" alt="" style="width: 76px; height: 60px; border-radius: 10px;" class="img-fluid blur-up lazyload">
                        </a>
                    </div>
                    <div class="main-navbar">
                        <div id="mainnav">
                            <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                            <div class="menu-overlay"></div>
                            <ul class="nav-menu">
                                <li class="back-btn">
                                    <div class="mobile-back text-end">
                                        <span>Back</span>
                                        <i aria-hidden="true" class="fa fa-angle-right ps-2"></i>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="nav-link menu-title">Login</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link menu-title">SignUp</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link menu-title">Help</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="home_section hotel_layout slide-1 p-0">
    <div>
        <div class="home">
            <img src="../assets/search-ui/images/hotel-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
            <div class="home-content">
                <div>
                    <h1>rica</h1>
                    <h5>rica hotel</h5>
                    <h2>welcome</h2>
                    <a href="#" class="btn btn-solid ">book now</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="home">
            <img src="../assets/search-ui/images/hotel-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
            <div class="home-content">
                <div>
                    <h1>rica</h1>
                    <h5>rica hotel</h5>
                    <h2>welcome</h2>
                    <a href="#" class="btn btn-solid ">book now</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="home">
            <img src="../assets/search-ui/images/hotel-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
            <div class="home-content">
                <div>
                    <h1>rica</h1>
                    <h5>rica hotel</h5>
                    <h2>welcome</h2>
                    <a href="#" class="btn btn-solid ">book now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="home_section hotel_layout slide-1 p-0">-->
<!--        <div class="home">-->
<!--            <img src="../assets/search-ui/images/hotel-bg.jpg" class="img-fluid blur-up lazyload bg-img" alt="">-->
<!--            <div class="home-content">-->
<!--                <div>-->
<!--                    <h1>roomsToInn</h1>-->
<!--                    <h5>hotel</h5>-->
<!--                    <h2>welcome</h2>-->
<!--                    <a href="#" class="btn btn-solid ">book now</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="search-section">-->
<!--            <div class="container">-->
<!--                <div style="max-width: 100%">-->
<!--                    <div class="col-xl-10 offset-xl-0">-->
<!--                        <div class="search-panel" id="searchBar">-->
<!--                            <div class="search-section shadow">-->
<!--                                <div class="search-box">-->
<!--                                    <div class="left-part">-->
<!--                                        <div class="search-body title-hotel">-->
<!--                                            <h6>hotel</h6>-->
<!--                                            <input type="text" name="text" placeholder="North Carolina" class="form-control" readonly>-->
<!--                                        </div>-->
<!--                                        <div class="search-body">-->
<!--                                            <h6>check in</h6>-->
<!--                                            <mat-form-field class="example-full-width" appearance="fill">-->
<!--                                                <input matInput [matDatepicker]="picker" [value]="checkInDate">-->
<!--                                                <mat-datepicker-toggle matSuffix [for]="picker">-->
<!--                                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
<!--                                                </mat-datepicker-toggle>-->
<!--                                                <mat-datepicker #picker></mat-datepicker>-->
<!--                                            </mat-form-field>-->
<!--                                        </div>-->
<!--                                        <div class="search-body">-->
<!--                                            <h6>check out</h6>-->
<!--                                            <mat-form-field class="example-full-width" appearance="fill">-->
<!--                                                <input matInput [matDatepicker]="picker1" [value]="checkOutDate">-->
<!--                                                <mat-datepicker-toggle matSuffix [for]="picker1">-->
<!--                                                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
<!--                                                </mat-datepicker-toggle>-->
<!--                                                <mat-datepicker #picker1></mat-datepicker>-->
<!--                                            </mat-form-field>-->
<!--                                        </div>-->
<!--                                        <div class="search-body">-->
<!--                                            <h6>Room Type</h6>-->
<!--                                            <mat-form-field appearance="fill">-->
<!--                                                <mat-select name="food" placeholder="Select">-->
<!--                                                    <mat-option *ngFor="let food of ['Private', 'Shared']" [value]="food">-->
<!--                                                        {{food }}-->
<!--                                                    </mat-option>-->
<!--                                                </mat-select>-->
<!--                                            </mat-form-field>-->
<!--                                        </div>-->
<!--                                        <div class="search-body btn-search" style="width: 13%;">-->
<!--                                            <div class="right-part">-->
<!--                                                <a href="#" class="btn btn-solid color1">search</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--</section>-->

<section class="section-b-space special-section ratio2_3 animated-section">
    <div class="animation-section">
        <div class="cross po-1"></div>
        <div class="cross po-2"></div>
        <div class="cross po-3"></div>
        <div class="round po-4"></div>
        <div class="round po-5"></div>
        <div class="round r-2 po-6"></div>
        <div class="round r-2 po-7"></div>
        <div class="round r-y po-8"></div>
        <div class="round r-y po-9"></div>
        <div class="square po-10"></div>
        <div class="square po-11"></div>
        <div class="square s-2 po-12"></div>
    </div>
    <div class="container">
        <div class="title-3">
            <span class="title-label">our</span>
            <h2>special room<span>special</span></h2>
        </div>

        <div>
            <div class="special-box p-0 search-hotel-items">
                <div class="special-img">
                    <a href="#">
                        <img src="../assets/search-ui/images/hotel/room/1.jpg" class="img-fluid blur-up lazyload bg-img"
                             alt="">
                    </a>
                    <div class="label">
                        <i class="fas fa-percent"></i>
                        <h3><del>$24</del> $20</h3>
                    </div>
                </div>
                <div class="special-content">
                    <a href="#">
                        <h5>Lorem Ipsum is simply dummy text.</h5>
                    </a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has
                        been the indu standard dummy text ever since the 1500s..............
                    </p>
                    <div class="bottom-part">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="package-cls">
                            5 day | 4 night
                        </div>
                    </div>
                </div>
            </div>

            <div class="special-box p-0 search-hotel-items">
                <div class="special-img">
                    <a href="#">
                        <img src="../assets/search-ui/images/hotel/room/1.jpg" class="img-fluid blur-up lazyload bg-img"
                             alt="">
                    </a>
                    <div class="label">
                        <i class="fas fa-percent"></i>
                        <h3><del>$24</del> $20</h3>
                    </div>
                </div>
                <div class="special-content">
                    <a href="#">
                        <h5>Lorem Ipsum is simply dummy text.</h5>
                    </a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has
                        been the indu standard dummy text ever since the 1500s..............
                    </p>
                    <div class="bottom-part">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="package-cls">
                            5 day | 4 night
                        </div>
                    </div>
                </div>
            </div>

            <div class="special-box p-0 search-hotel-items">
                <div class="special-img">
                    <a href="#">
                        <img src="../assets/search-ui/images/hotel/room/1.jpg" class="img-fluid blur-up lazyload bg-img"
                             alt="">
                    </a>
                    <div class="label">
                        <i class="fas fa-percent"></i>
                        <h3><del>$24</del> $20</h3>
                    </div>
                </div>
                <div class="special-content">
                    <a href="#">
                        <h5>Lorem Ipsum is simply dummy text.</h5>
                    </a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has
                        been the indu standard dummy text ever since the 1500s..............
                    </p>
                    <div class="bottom-part">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="package-cls">
                            5 day | 4 night
                        </div>
                    </div>
                </div>
            </div>

            <div class="special-box p-0 search-hotel-items">
                <div class="special-img">
                    <a href="#">
                        <img src="../assets/search-ui/images/hotel/room/1.jpg" class="img-fluid blur-up lazyload bg-img"
                             alt="">
                    </a>
                    <div class="label">
                        <i class="fas fa-percent"></i>
                        <h3><del>$24</del> $20</h3>
                    </div>
                </div>
                <div class="special-content">
                    <a href="#">
                        <h5>Lorem Ipsum is simply dummy text.</h5>
                    </a>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has
                        been the indu standard dummy text ever since the 1500s..............
                    </p>
                    <div class="bottom-part">
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="package-cls">
                            5 day | 4 night
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="slide-3">-->
<!--            <div>-->
<!--                <div class="special-box p-0">-->
<!--                    <div class="special-img">-->
<!--                        <a href="#">-->
<!--                            <img src="../assets/search-ui/images/hotel/room/1.jpg" class="img-fluid blur-up lazyload bg-img"-->
<!--                                 alt="">-->
<!--                        </a>-->
<!--                        <div class="label">-->
<!--                            <i class="fas fa-percent"></i>-->
<!--                            <h3><del>$24</del> $20</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="special-content">-->
<!--                        <a href="#">-->
<!--                            <h5>Lorem Ipsum is simply dummy text.</h5>-->
<!--                        </a>-->
<!--                        <p>-->
<!--                            Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has-->
<!--                            been the indu standard dummy text ever since the 1500s..............-->
<!--                        </p>-->
<!--                        <div class="bottom-part">-->
<!--                            <div class="rating">-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="far fa-star"></i>-->
<!--                            </div>-->
<!--                            <div class="package-cls">-->
<!--                                5 day | 4 night-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="special-box p-0">-->
<!--                    <div class="special-img">-->
<!--                        <a href="#">-->
<!--                            <img src="../assets/search-ui/images/hotel/room/2.jpg" class="img-fluid blur-up lazyload bg-img"-->
<!--                                 alt="">-->
<!--                        </a>-->
<!--                        <div class="label">-->
<!--                            <i class="fas fa-percent"></i>-->
<!--                            <h3><del>$24</del> $20</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="special-content">-->
<!--                        <a href="#">-->
<!--                            <h5>Lorem Ipsum is simply dummy.</h5>-->
<!--                        </a>-->
<!--                        <p>-->
<!--                            Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has-->
<!--                            been the indu standard dummy text ever since the 1500s..............-->
<!--                        </p>-->
<!--                        <div class="bottom-part">-->
<!--                            <div class="rating">-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="far fa-star"></i>-->
<!--                            </div>-->
<!--                            <div class="package-cls">-->
<!--                                5 day | 4 night-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="special-box p-0">-->
<!--                    <div class="special-img">-->
<!--                        <a href="#">-->
<!--                            <img src="../assets/search-ui/images/hotel/room/3.jpg" class="img-fluid blur-up lazyload bg-img"-->
<!--                                 alt="">-->
<!--                        </a>-->
<!--                        <div class="label">-->
<!--                            <i class="fas fa-percent"></i>-->
<!--                            <h3><del>$24</del> $20</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="special-content">-->
<!--                        <a href="#">-->
<!--                            <h5>Lorem Ipsum is simply dummy.</h5>-->
<!--                        </a>-->
<!--                        <p>-->
<!--                            Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has-->
<!--                            been the indu standard dummy text ever since the 1500s..............-->
<!--                        </p>-->
<!--                        <div class="bottom-part">-->
<!--                            <div class="rating">-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="far fa-star"></i>-->
<!--                            </div>-->
<!--                            <div class="package-cls">-->
<!--                                5 day | 4 night-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="special-box p-0">-->
<!--                    <div class="special-img">-->
<!--                        <a href="#">-->
<!--                            <img src="../assets/search-ui/images/hotel/room/2.jpg" class="img-fluid blur-up lazyload bg-img"-->
<!--                                 alt="">-->
<!--                        </a>-->
<!--                        <div class="label">-->
<!--                            <i class="fas fa-percent"></i>-->
<!--                            <h3><del>$24</del> $20</h3>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="special-content">-->
<!--                        <a href="#">-->
<!--                            <h5>Lorem Ipsum is simply dummy.</h5>-->
<!--                        </a>-->
<!--                        <p>-->
<!--                            Lorem Ipsum is simply dummy text of the printing typesetting industry. Lorem Ipsum has-->
<!--                            been the indu standard dummy text ever since the 1500s..............-->
<!--                        </p>-->
<!--                        <div class="bottom-part">-->
<!--                            <div class="rating">-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="fas fa-star"></i>-->
<!--                                <i class="far fa-star"></i>-->
<!--                            </div>-->
<!--                            <div class="package-cls">-->
<!--                                5 day | 4 night-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</section>
